<nav class="navbar">
  <div class="navbar-left">
    <a class="brand" href="/">
      <img src="/static/logo.png" alt="PatchPilot Logo" style="height:24px; vertical-align:middle;">
      <span style="margin-left:8px;">PatchPilot</span>
    </a>
  </div>

  <div class="navbar-center">
    <a href="/dashboard">Dashboard</a>
    <a href="/devices_page">Devices</a>
    <a href="/actions_page">Actions</a>
    <a href="/history_page">History</a>
    <a href="/settings_page">Settings</a>
    <a href="/audit">Audit</a>
  </div>

  <div class="navbar-right">
    {{#if user}}
      <span class="user-info">Signed in as {{user.username}}</span>
      <a href="/auth/logout">Logout</a>
    {{else}}
      <a href="/auth/login">Login</a>
    {{/if}}
  </div>
</nav>
